body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--MyBg) !important;
}

@font-face {
  font-family: ZQK;
  src: url(./font/ZQKfreefont-2.ttf);
}

:root {
  --MyTheme: #144bb0;
  --MyBg: #f0f3f8;
  --MyText: #18243c;
}

.theme-bg {
  background-color: var(--MyTheme) !important;
}
.theme-text-dark {
  color: var(--MyText) !important;
}
.theme-text-light {
  color: var(--MyBg) !important;
}
.theme-text-theme {
  color: var(--MyTheme) !important;
}
.self-btn {
  color: var(--MyBg) !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: center;
  background-color: var(--MyTheme) !important;
}
.transition-style {
  transition: all 0.5s ease-in-out !important;
}
