body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: ZQK;
  src: url(./font/ZQKfreefont-2.ttf);
}

:root {
  --MyTheme: #f300b1;
}

.theme-bg {
  background-color: #ffaf24 !important;
}
